html,body {
  background-image: url("pic.jpg");
  background-color: white;
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover
}
.logo {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    width: 300px;
    transform: translate(-50%, -50%)
}
/* Login & SignUp Page */
.form {
    border-radius: 25px;
    /* border: 5px solid rgba(234, 236, 236, 0.5); */
    background-color: rgba(234, 236, 236, 0.5) ;
    padding: 40px;
    width: 400px;
    height: 400px; 
    height: 35em;
    position: relative;
    margin: 0;
    position: fixed;
    top: 53%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
/* Login Page */
#emLog {
    color: rgb(255, 255, 255);
    font-size: x-large;
    /* font-style: italic; */
    font-style: oblique ;
    width:200px;
    clear:left;
    text-align:center;
    padding-right:20px
}
#pLog {
    color: white;
    font-size: x-large;
    font-style: oblique ;
    width:200px;
    clear:left;
    text-align:left;
    padding-right:10px
}
#logBttn {
  display: inline-block;
  border-radius: 12px;
  background-color: rgb(103, 162, 250);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: medium;
  padding: 10px;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#emailLog {
  display: inline-block;
  border-radius: 8px;
}
#passwordLog {
  display: inline-block;
  border-radius: 8px;
}
/* SignUp Page */
#nmSign {
  color: white;
  font-size: xx-large;
  font-style: oblique ;
  width:180px;
  clear:left;
  text-align:center;
  padding-right:10px
}
/* #nameSign {
  display: inline-block;
  border-radius: 8px;
  } */
#emSing {
  color: white;
  font-size: x-large;
  font-style: oblique ;
  width:180px;
  clear:left;
  text-align:right;
  padding-right:10px
}
#service{
  color: white;
  font-size: x-large;
  font-style: oblique ;
  width:180px;
  clear:left;
  text-align:center;
  padding-right:10px
}
#pSign {
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-style: oblique ;
  width:180px;
  clear:left;
  text-align:center;
  padding-right:10px
}
#cat {
  color: rgb(251, 253, 255);
  font-size: x-large;
  font-style: oblique ;
  width:180px;
  clear:left;
  text-align:center;
  padding-right:10px
}
#signBttn {
display: inline-block;
border-radius: 12px;
background-color: rgb(103, 162, 250);
border: none;
color: #FFFFFF;
text-align: center;
font-size: medium;
padding: 10px;
width: 100px;
transition: all 0.5s;
cursor: pointer;
margin: 10px;
}
#xx{
  color: #020202;
  font-size: large;
}
#zz{
  color: #020202;
}
/* #emailSign {
display: inline-block;
border-radius: 8px;
} */
/* #passwordSign {
display: inline-block;
border-radius: 8px;
} */
/* Nav bar */
#navbar {
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    height: 60px;
    background-color: rgba(255,255,255,.5);
    /* background-color: transparent; */
    /* opacity: 0.7;  */
}
#navItemPro {
  border-radius: 12px;
  background-color: rgb(103, 162, 250);
  float: right;
  position: absolute;
  padding: 10px;
  top: 35%;
  left: 95.5%;
  transform: translate(-50%, -50%);
}

#navItemPro {
  display: inline-block;
  border-radius: 12px;
  background-color: #0A3483;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: medium;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}
#navItemP{
  border-radius: 12px;
  background-color: #6495ED;
  float: none;
  position: absolute;
  padding: 10px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#navItemHome {
  border-radius: 12px;
  background-color: #6495ED;
  float: none;
  position: absolute;
  padding: 10px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#navItemHome {
  display: inline-block;
  border-radius: 12px;
  background-color: #6495ED;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: medium;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}
#navItemLogin {
  border-radius: 12px;
  background-color: #6495ED;
  float: left;
  position: absolute;
  padding: 10px;
  top: 35%;
  left: 60px;
  transform: translate(-50%, -50%);
}
#navItemLogin {
  display: inline-block;
  border-radius: 12px;
  background-color: #6495ED;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: medium;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}
#navItemLogout {
  border-radius: 12px;
  background-color: #6495ED;
  float: left;
  position: absolute;
  padding: 10px;
  top: 35%;
  left: 60px;
  transform: translate(-50%, -50%);
}
#navItemLogout {
  display: inline-block;
  border-radius: 12px;
  background-color: #6495ED;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: medium;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}
a { color: inherit; }
/* Front Page */
#search {
    border-radius: 25px;
    border: 3px solid #F4511E;
    padding: 40px;
    width: 800px;
    height: 150px; 
    height: 8em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 22%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.searchL{
  color: white;
  font-size: x-large;
  width:180px;
  clear:left;
  text-align:right;
  padding-right:10px
}
.searchI{
  display: inline-block;
  border-radius: 8px;
  margin-left: 10px;
}
.searchBttn{
  display: inline-block;
  border-radius: 12px;
  background-color: #F4511E;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: medium;
  padding: 10px;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#serves {
    border-radius: 25px;
    border: 3px solid #F4511E;
    padding: 40px;
    width: 800px;
    height: 150px; 
    height: 8em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#heder{
  color: white;
  font-size: x-large;
}
#serves {
  color: white;
  font-size: x-large;
  text-align: center;
}
#smallLogo {
  position: absolute;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  width: 400px;
  transform: translate(-50%, -50%)
}
/* Hiring Page */
#basicPic {
    position: absolute;
    top: 11%;
    left: 20%;
    margin-right: -50%;
    width: 175px;
    transform: translate(-50%, -50%);
    border-radius: 30%
}
#HiringPage {
  border-radius: 25px;
  border: 3px solid #F4511E;
  padding: 40px;
  width: 400px;
  height: 150px; 
  height: 45em;
  position: relative;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
#userH {
  color: white;
  font-size: x-large;
  width:300px;
  float: left;
  margin-left: 175px;
  margin-top: 5px;
  padding-right:10px
}
#userHR {
  color: white;
  font-size: x-large;
  width:300px;
  float: left;
  margin-left: 175px;
  margin-top: 5px;
  padding-right:10px
}
#info {
  color: white;
  font-size: large;
  width:300px;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  padding-right:10px
}
#hireBttn {
  display: inline-block;
  border-radius: 12px;
  background-color: #F4511E;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: medium;
  padding: 10px;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#feedbackBttn {
  display: inline-block;
  border-radius: 12px;
  background-color: #F4511E;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: medium;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#rateL {
  color: white;
  font-size: x-large;
  width:180px;
  clear:left;
  text-align:right;
  padding-right:10px
}
#rateIN {
  display: inline-block;
  border-radius: 8px;
  margin-left: 5px;
}
#rateIM {
  display: inline-block;
  border-radius: 12px;
}
/* ProfilePage */
#userProf {
  border-radius: 25px;
  border: 3px solid #F4511E;
  padding: 40px;
  width: 400px;
  height: 150px; 
  height: 20em;
  position: relative;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
#userNameP{
  color: white;
  font-size: x-large;
  width:300px;
  float: left;
  margin-left: 175px;
  padding-right:10px
}
#pip{
  color: white;
  font-size: x-large;
  width:300px;
  float: left;
  margin-top: 20px;
  padding-right:10px
}
#basicPicP {
  position: absolute;
  top: 18%;
  left: 20%;
  margin-right: -50%;
  width: 175px;
  transform: translate(-50%, -50%);
  border-radius: 30%
}